<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Truly Enchanted Entertainment Michiana</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ static }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ static }}css/freelancer.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="{{ static }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Dancing+Script' rel='stylesheet' type='text/css'>

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Truly Enchanted</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#packages">Packages</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Truly Enchanted Entertainment Michiana</span>
                        <img class="img-responsive img-circle" src="{{ media }}img/belle_square.jpg" alt="">    <!-- TODO: Replace with carousel -->
                        <span class="skills">"Today’s special moments are tomorrow’s memories"</span>
                    </div>
                </div>
            </div>

            {% include 'components/about.html' %}
        </div>
    </header>

    <section id="packages">
        {% include "components/packages.html" %}
        {% include "components/characters.html" %}
    </section>

    <section id="faq">
        {% include "components/faq.html" %}
    </section>



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 contact-method contact-phone">
                    <div class="contact-container">
                        <div class="title">Phone</div>
                        <div class="content"><a href="tel://1-260-908-3963">260-908-3963</a></div>
                    </div>
                </div>
                <div class="col-md-4 contact-method contact-form">
                    <div class="contact-container">
                        <div class="title">Contact Form</div>
                        <div class="content">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#contactModal">Open Contact Form</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 contact-method contact-other">
                    <div class="contact-container">
                        <div class="title">Social Media</div>
                        <div class="content">
                            <a href="https://www.facebook.com/TrulyEnchantedMichiana"><i class="fa fa-facebook-square"></i>acebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4 footer-quote">
                        "Today’s special moments are tomorrow’s memories"
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/TrulyEnchantedMichiana" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li><a href="mailto:trulyenchantedmichiana@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Disclaimer</h3>
                        <p>We are not officially licensed with and are not affiliated with Disney nor are we claiming to be. Our characters are "like" characters and stricly for the purpose of childrens' entertainment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 - Truly Enchanted Entertainment Michiana
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="contactModalLabel">Contact Us</h4>
          </div>
          <div class="modal-body">
            <iframe src="https://docs.google.com/forms/d/1vbsKBUu7ZgkNfumr5jFv8vi-muszdx_yUrikyXOx0D8/viewform?embedded=true" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script src="{{ static }}js/jquery-1.10.2.js"></script>
    <script src="{{ static }}js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ static }}js/classie.js"></script>
    <script src="{{ static }}js/cbpAnimatedHeader.js"></script>
    <script src="{{ static }}js/freelancer.js"></script>

</body>

</html>
