body {
  overflow-x: hidden;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #e0596d;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.spacer2 {
  margin-top: 2px;
}
.spacer5 {
  margin-top: 5px;
}
.spacer10 {
  margin-top: 10px;
}
.spacer15 {
  margin-top: 15px;
}
.spacer30 {
  margin-top: 30px;
}
.spacer40 {
  margin-top: 40px;
}
.spacer60 {
  margin-top: 60px;
}
.spacer80 {
  margin-top: 80px;
}
.spacer100 {
  margin-top: 100px;
}
.spacer150 {
  margin-top: 150px;
}
.new-item {
  font-size: 0.5em;
  vertical-align: top;
  color: blue;
}
hr.star-light,
hr.star-primary,
hr.star-secondary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after,
hr.star-secondary:after {
  content: "\f004";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #e0596d;
  color: white;
}
hr.star-primary {
  border-color: #67909f;
}
hr.star-primary:after {
  background-color: white;
  color: #67909f;
}
hr.star-secondary {
  border-color: white;
}
hr.star-secondary:after {
  background-color: #b56586;
  color: white;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #e0596d;
  color: white;
}
header .container {
  padding-top: 80px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
header .intro-text .skills {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
}
header .intro-text img {
  border: 10px solid #FFF;
  margin-top: 20px;
}
@media (min-width: 768px) {
  header .container {
    padding: 140px 0 100px;
  }
  header .intro-text .name {
    font-size: 5em;
  }
  header .intro-text .skills {
    font-size: 2.75em;
  }
  header .intro-text img {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 1.25em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.navbar {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.navbar-default,
.navbar-inverse {
  border: none;
}
.navbar-default {
  background-color: #67909f;
}
.navbar-nav > li > a {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #e0596d;
  color: white;
}
section.secondary {
  background: #b56586;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#characters .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#characters .portfolio-preview .title {
  font-size: 2em;
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}
#characters .portfolio-preview {
  padding-top: 2%;
  padding-bottom: 5%;
}
#characters .portfolio-preview img {
  width: 62%;
  border: 10px solid #FFF;
}
#characters .character-beauty .portfolio-preview {
  background-color: #e8b962;
}
#characters .character-mermaid-pink .portfolio-preview {
  background-color: #b56586;
}
#characters .character-mermaid-pink .portfolio-preview img {
  width: 53.45%;
}
#characters .character-mermaid-town .portfolio-preview {
  background-color: #99CCFF;
}
#characters .character-snow .portfolio-preview {
  background-color: #33CCFF;
}
#characters .character-fairest .portfolio-preview {
  background-color: #DA4747;
}
#characters .character-enchanting .portfolio-preview {
  background-color: #FF99CC;
}
#characters .character-enchanting .portfolio-preview img {
  width: 45.1%;
}
#characters * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #e0596d;
  background: white;
  border: solid 2px white;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #e0596d;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #67909f;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #5c8391;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #67909f;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #67909f;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.brand-font {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primary-font {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#packages .title {
  font-size: 2em;
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
}
#packages .activities-title {
  font-size: 1.5em;
}
.personnel-item {
  text-align: left;
}
.personnel-item img {
  margin-bottom: 0;
  width: 11em;
}
.personnel-item .title {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.75em;
}
#about_jessica img {
  margin-right: 8px;
}
#about_nathan img {
  margin-left: 8px;
}
#faq {
  background: #e0596d;
  color: white;
}
#faq dl dt {
  font-size: 1.3em;
}
#faq dl dd {
  margin-bottom: 15px;
}
#contact .contact-method {
  text-align: center;
}
#contact .contact-method .title {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  color: black;
}
#contact .contact-method .content-container {
  color: black;
}
#contact .contact-phone .contact-container .content {
  font-size: 3em;
}
#contact .contact-phone .contact-container .content a {
  color: black;
}
#contact .contact-form .contact-container .content a {
  font-size: 1.3em;
  margin-top: .2em;
  margin-bottom: .6em;
}
#contact .contact-other .content {
  font-size: 3em;
}
#contact .contact-other .content a {
  color: black;
}
.footer-quote {
  font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
}
