<div class="row spacer40">
    <div class="col-lg-12">
        <p>
            Welcome to Truly Enchanted Entertainment!  We have been offering party princess services to the Michiana area since 2014 and it would be our pleasure to make your own little princess's (or prince’s) special day even more unforgettable! Please see our party packages below as well as add-ons, other services, available characters, frequently asked questions and contact information.
        </p>
    </div>
</div>
<div class="row">
    <div id="about_jessica" class="col-lg-12 personnel-item">
        <div class="title text-center">Jessica Smith</div>
        <img class="pull-left img-rounded" src="{{ media }}img/jessica.jpg">
        <p>
            Hi, my name is Jessica Smith and I am the owner and head princess of Truly Enchanted Entertainment.  I have always been a dreamer. Very passionate about acting, singing, and princesses my entire life.  I have had the experience of being on stage often and would be ecstatic if you considered me for your party princess needs. I thoroughly enjoy children and would love to help make your party a magical memory that you and your guests will cherish for many years to come! I am married to my very own prince charming and together we have a very adorable, very busy toddler. I’m extremely grateful to have the opportunity to follow my dreams and am hoping that I can help others achieve theirs in the process!
        </p>
    </div>
</div>
<div class="row">
    <div id="about_nathan" class="col-lg-12 personnel-item">
        <div class="title text-center">Nathan Smith</div>
        <img class="pull-right img-rounded" src="{{ media }}img/jessica.jpg">
        <p>
            Hi, my name is Nathan Smith and I am the Princess’ husband and Royal Assistant. I am here to make sure your party runs smoothly. I will be doing all of the behind-the-scenes work so that the Princess can focus on making the day a magical one for the children.  I hope you’ll consider us for all of your party princess needs!
        </p>
    </div>
</div>
