<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <p>
                Truly Enchanted Entertainment has been offering party princess services to the Michiana area since 2014.  It would be our pleasure to make your own little princess's special day even more unforgettable.
            </p>
        </div>
        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, ex qui solet lobortis, an quod nulla deseruisse sed, at eos doming iriure. Eligendi qualisque torquatos ut ius, animal adipisci no ius, duo id commodo numquam molestiae. Quo agam tollit postulant no. Tamquam atomorum te his, an sea ipsum antiopam argumentum, est regione facilisi conceptam at. Eam dico zril habemus at.
      </p>
      <p>
    Est ei sapientem reformidans, sea an movet veniam. Mel te alterum dissentiunt, his viderer eloquentiam liberavisse ne. Usu eu dolor laudem, ad stet laoreet delicata qui. Quo in mutat senserit concludaturque, id quo phaedrum gloriatur persequeris, sit an essent laoreet ullamcorper.
      </p>
      <p>
    Te eum ubique ceteros instructior. Eu cum eleifend reformidans, te vide duis delicata sit, dicant voluptatibus ad ius. Diam eros ridens ius an. Nonumes eloquentiam mel in, duo etiam nulla commune ne. Id pro possim suavitate tincidunt, illud persius nam ut.
      </p>
      <p>
    Animal interpretaris an quo, modo mazim periculis sit id. Eam nusquam vituperata ea, duo qualisque persecuti ei. Sea ut illud choro laudem, eos at quando eligendi praesent. Nec ad similique consetetur dissentias, eos graeco contentiones et, nec an iriure percipit. Eos no eros eius porro, quem partem sed ne, et recteque consequat per.
      </p>
      <p>
    No sea nulla mandamus. Nec intellegat intellegebat ut, at sit ludus rationibus, ei nam iisque omittam. Vis habeo maiorum te. Vel id nonumes oportere. Vix no esse omnium reprehendunt, argumentum contentiones ut cum. Mea aliquam labores ex.
    </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
            </a>
        </div>
    </div>
</div>
