<div id="characters" class="container spacer40">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Characters</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 portfolio-item character-snow">
            <div class="portfolio-preview">
                <div class="title">Snow Queen</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/snow_sized.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 portfolio-item character-beauty">
            <div class="portfolio-preview">
                <div class="title">Princess Beauty</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/beauty_sized.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 portfolio-item character-mermaid-pink">
            <div class="portfolio-preview">
                <div class="title">Mermaid Princess (Pink Dress)</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/mermaid_pink_sized.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 portfolio-item character-mermaid-town">
            <div class="portfolio-preview">
                <div class="title">Mermaid Princess (Town Dress)</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/mermaid_town_sized.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 portfolio-item character-fairest">
            <div class="portfolio-preview">
                <div class="title">Fairest Princess</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/fairest_sized.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 portfolio-item character-enchanting">
            <div class="portfolio-preview">
                <div class="title">Enchanting Princess</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/enchanting_sized.jpg" alt="">
            </div>
        </div>
    </div>
</div>
