<div id="characters" class="container spacer40">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Characters</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 portfolio-item character-belle">
            <div class="portfolio-preview">
                <div class="title">Princess Beauty</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/belle_square.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 portfolio-item character-ariel">
            <div class="portfolio-preview">
                <div class="title">Mermaid Princess</div>
                <img class="img-responsive img-circle center-block" src="{{ media }}img/ariel_square.jpg" alt="">
            </div>
        </div>
    </div>
</div>
