<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Frequently Asked Questions</h2>
            <hr class="star-light">
        </div>
    </div>
    <div>
        <dl>
            <dt>How far do you travel?</dt>
            <dd>We are happy to travel anywhere within the Michiana area. If your celebration is 20+ miles outside the zip code 46614, a surcharge will be applied. </dd>

            <dt>What ages do you accommodate?</dt>
            <dd>Any age. You’re never too old to meet a princess! However, we do NOT perform for or attend any events of an adult nature. </dd>

            <dt>Are you responsible for supervising the children?</dt>
            <dd> Truly Enchanted Entertainment provides entertainment and are not responsible for unruly or uncooperative children. We kindly ask that ALL parents be present and monitor disruptive behavior and attend to any child who does not want to participate. This will help us provide the best possible party experience for you and your guests. </dd>

            <dt>Do the guests need to come to the party in costume?</dt>
            <dd>It is not not required in any way, but definitely encouraged! It will only add to the magic of the event. </dd>

            <dt>Can we have the party outdoors?</dt>
            <dd>It is preferred that entertainment be held indoors, due to unpredictable weather that may cause the entertainers discomfort or harm to our beautiful costumes and props (i.e. dirt, mud, water). If you wish to hold the event outdoors, please provide shade, a rug, and other comfortable things for your entertainer to rest on. </dd>

            <dt>Is smoking allowed at my princess party?</dt>
            <dd>Definitely not. We do not want the costumes or the princess’ health compromised. Smoking while the princess is present will result in her immediate departure with no refund. </dd>

            <dt>Are pets allowed at my princess party?</dt>
            <dd>Pets are fun, but are not allowed while the princess is entertaining. There’s a chance that costumes could be damaged if there are animals jumping around. </dd>

            <dt>When will you arrive?</dt>
            <dd>We try to arrive 10-15 minutes after your party’s “start time”. This way we can ensure that everyone has arrived and no one misses out on the magical experience. </dd>

            <dt>Do I need to provide anything for the party?</dt>
            <dd>Just a table for the coloring activity and an open space for a royal relay race. </dd>

            <dt>How do I book a party?</dt>
            <dd> Contact Truly Enchanted Entertainment by visiting our Contact Page. Parties are booked on a first come first serve basis. When a party date is confirmed we will email you an agreement form for you to print off, sign, and send us in the mail along with a $50 deposit check to lock your date. The remaining balance will be collected upon arrival at your celebration. Checks can be made out to Nathan or Jessica Smith.  </dd>

            <dt>Can we take pictures and video?</dt>
            <dd>Absolutely! We encourage it! If you do take pictures and video and post it on facebook, we would greatly appreciate it if you would tag Truly Enchanted Entertainment Michiana. </dd>

            <dt>Where is the party held?</dt>
            <dd>With the help of a little magic, Truly Enchanted Entertainment comes directly to you! You name the location and we show up ready to create magical memories!</dd>

            <dt>Do we have to tip the performer? Is gratuity expected?</dt>
            <dd>Gratuity is never expected, however if you feel your Princess has gone above and beyond, gratuity is certainly appreciated!</dd>

            <dt>Can the suggested activities be changed?</dt>
            <dd> Absolutely! If you have different activities in mind for your party celebration, Truly Enchanted Entertainment will be more than happy to consider your suggestions. </dd>

            <dt>Do you interact with the boys?</dt>
            <dd> Of course! The princes are just as important to us! Truly Enchanted Entertainment tries our very best to involve the little princes in all activities without being too pushy. You never know, sometimes the princes are the ones that won’t leave the Princess’ side. </dd>

            <dt>How far in advance should I book my party?</dt>
            <dd>Parties are booked on a first come first serve basis, so due to the growing popularity of Truly Enchanted Entertainment we suggest you put in a booking request 3-6 weeks in advance. </dd>

            <dt>What happens if I need to cancel my party?</dt>
            <dd> In the event you need to cancel, Truly Enchanted Entertainment will gladly arrange another date for your party as long as respectable notice is given. Please keep in mind that the $50 deposit is non-refundable, but can be used towards the cost of another party if held within 90 days of the original party date. </dd>
        </dl>
    </div>
</div>
