<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Frequently Asked Questions</h2>
            <hr class="star-light">
        </div>
    </div>
    <div>
        <dl>
            <dt>How far do you travel?</dt>
            <dd>Truly Enchanted charges no fee for events and parties within a 25-mile radius. For events outside of that range there is a $25.00 travel fee.</dd>
        </dl><dl>
            <dt>What ages are your birthday parties appropriate for?</dt>
            <dd>Our parties are most appropriate for ages 4 through  8. Children under the age of 4 are too young for our princess party activities.</dd>
        </dl><dl>
            <dt>Can I leave a child/children alone with the princess?</dt>
            <dd>Absolutley not - we require that there is at least one parent or guardian in the room with the children for the entirety of the time that the princess is visiting.</dd>
        </dl><dl>
            <dt>If the children start to get out of hand during a party, can the princess or her royal maid help keep them under control?</dt>
            <dd>Once in a while, in all of the excitement, a parental figure will need to step in and help with a child. If you see that one of the guests is interfering with a game or preventing the party from running smoothly, we ask that the hostess or any other adult figure take care of the matter.</dd>
        </dl><dl>
            <dt>Do the children need to wear costumes at a princess party or event?</dt>
            <dd>The children and guests can wear regular clothing, however costumes are encouraged! Getting dressed up helps with the excitement and anticipation of the princess visit.</dd>
        </dl><dl>
            <dt>Can we have the party outside?</dt>
            <dd>Sorry, no. We need to keep our princess costumes and wigs inside due to weather elements that may damage them. We also need an indoor outlet for our music.</dd>
        </dl><dl>
            <dt>Do I need to count babies and toddlers in the guest count for the party?</dt>
            <dd>No - children under the age of 3 are too young for the activities.</dd>
        </dl><dl>
            <dt>If some of my guests don't show up, do I get a discount?</dt>
            <dd>No - our parties are at a set price and for up to either 10 or 15 children (including the birthday girl) depending on the package you purchase.</dd>
        </dl><dl>
            <dt>Is smoking allowed near the princesses?</dt>
            <dd>Absolutely not. Smoking while the princess is present will result in an immediate end to her visit with no refund.</dd>
        </dl><dl>
            <dt>Can my pets be around the princess?</dt>
            <dd>No. Pets are not allowed nearby or around the princess in order to protect our princess costumes.</dd>
        </dl>
    </div>
</div>
