<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Party Packages</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 package-item">
            <div class="title">The Party Princess Experience</div>
            <ul class="list-unstyled text-center">
                <li>$150</li>
                <li>60 minutes</li>
                <li>Accomodates up to 10 princesses or princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ royal arrival (including song)</li>
                <li>Princess & prince lessons</li>
                <li>Crowning of the birthday princess or prince</li>
                <li>Coloring time</li>
                <li>Photo & autograph opportunities with the royal guest</li>
                <li>Princess themed game</li>
                <li>Story time</li>
                <li>The princess’ royal farewell (including song)</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">The Fairy Tale Experience</div>
            <ul class="list-unstyled text-center">
                <li>$200</li>
                <li>90 minutes</li>
                <li>Accomodates up to 12 princesses or princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ royal arrival (including song)</li>
                <li>Princess & prince lessons</li>
                <li>Crowning of the birthday princess or prince (complete with certificate)</li>
                <li>Special song for the birthday princess or prince</li>
                <li>Coloring time</li>
                <li>Photo & autograph opportunities with the royal guest</li>
                <li>Princess themed game</li>
                <li>Story time</li>
                <li>The princess’ royal farewell (including song)</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">The Royal Treatment</div>
            <ul class="list-unstyled text-center">
                <li>$250</li>
                <li>120 minutes</li>
                <li>Accomodates up to 15 princesses or princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ royal arrival (including song)</li>
                <li>Princess & prince lessons</li>
                <li>Crowning of the birthday princess or prince (complete with certificate & special crown)</li>
                <li>Special song for the birthday princess or prince</li>
                <li>Coloring time</li>
                <li>Photo & autograph opportunities with the royal guest</li>
                <li>Princess themed game</li>
                <li>Story time</li>
                <li>Happy birthday song & cake cutting</li>
                <li>Opening of the birthday gifts (the birthday princess or prince will receive a special gift from the royal guest)</li>
                <li>The princess’ royal farewell (including song)</li>
            </ul>
        </div>
    </div>
    <div class="text-center">* If the available packages do not fit your specific needs, please contact us to customize your experience!</div>

    <div class="row spacer40">
        <div class="col-lg-12 text-center">
            <h2>Party Package Add Ons</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 package-item">
            <div class="title">Birthday Gift ($25)</div>
            A gift for the birthday princess or prince.<br>
            Included in:
            <ul>
                <li>The Royal Treatment</li>
            </ul>
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Royal Certificate ($5)</div>
            “Princess (or Prince) for a Day” certificate for the birthday princess or prince.<br>
            Included in:
            <ul>
                <li>Fairy Tale Experience</li>
                <li>The Royal Treatment</li>
            </ul>
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Guest Certificates ($25)</div>
            “Princess (or Prince) for a Day” certificates for all the royal guests.
        </div>
    </div>
    <p class="text-center">More add ons are coming soon!<p>

    <div class="row spacer40">
        <div class="col-lg-12 text-center">
            <h2>Additional Services</h2>
            <hr class="star-primary">
            <p>More services are coming soon!</p>
        </div>
    </div>
</div>
