<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Party Packages</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 package-item">
            <div class="title">Singing Telegram</div>
            <ul class="list-unstyled text-center">
                <li>$35</li>
                <li>Visit from the Character of your choice</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Character of your choice will deliver a song to one of your favorite people!</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">Meet & Greet</div>
            <ul class="list-unstyled text-center">
                <li>$80</li>
                <li>30 Minutes</li>
                <li>Accommodates up to 4 Princesses or Princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ Royal Arrival (Including Song)</li>
                <li>Photo & Autograph Opportunities with the Royal Guest</li>
                <li>Story Time</li>
                <li>The Princess’ Royal Farewell (Including Song)</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">Special Event Appearance</div>
            <ul class="list-unstyled text-center">
                <li>$100</li>
                <li>30 Minutes</li>
                <li>Great for Big Business or Social Events</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>Photo & Autograph Opportunities with the Royal Guest</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 package-item">
            <div class="title">The Party Princess Experience</div>
            <ul class="list-unstyled text-center">
                <li>$150</li>
                <li>60 Minutes</li>
                <li>Accommodates up to 10 Princesses or Princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ Royal Arrival (Including Song)</li>
                <li>Princess/Prince Lessons</li>
                <li>Crowning of the Birthday Princess or Prince</li>
                <li>Coloring Time</li>
                <li>Photo & Autograph Opportunities with the Royal Guest</li>
                <li>Princess Themed Game</li>
                <li>Story Time</li>
                <li>The Princess’ Royal Farewell (Including Song)</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">The Fairy Tale Experience</div>
            <ul class="list-unstyled text-center">
                <li>$200</li>
                <li>90 Minutes</li>
                <li>Accommodates up to 12 Princesses or Princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ Royal Arrival (Including Song)</li>
                <li>Princess/Prince Lessons</li>
                <li>Crowning of the Birthday Princess or Prince (Complete with Certificate)</li>
                <li>Special Song for the Birthday Princess or Prince</li>
                <li>Coloring Time</li>
                <li>Photo & Autograph Opportunities with the Royal Guest</li>
                <li>Princess Themed Game</li>
                <li>Story Time</li>
                <li>The Princess’ Royal Farewell (Including Song)</li>
            </ul>
        </div>

        <div class="col-md-4 package-item">
            <div class="title">The Royal Treatment</div>
            <ul class="list-unstyled text-center">
                <li>$250</li>
                <li>120 Minutes</li>
                <li>Accommodates up to 15 Princesses or Princes</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ Royal Arrival (Including Song)</li>
                <li>Princess/Prince Lessons</li>
                <li>Crowning of the Birthday Princess or Prince (Complete with Certificate & special crown)</li>
                <li>Special Song for the Birthday Princess or Prince</li>
                <li>Coloring Time</li>
                <li>Photo & Autograph Opportunities with the Royal Guest</li>
                <li>Princess Themed Game</li>
                <li>Story Time</li>
                <li>Happy Birthday Song & Cake Cutting</li>
                <li>Opening of the Birthday Gifts (the Birthday Princess or Prince will Receive a Special Gift from the Royal Guest)</li>
                <li>The Princess’ Royal Farewell (Including Song)</li>
            </ul>
        </div>
    </div>
    <div class="text-center">* If the available packages do not fit your specific needs, please contact us to customize your experience!</div>

    <div class="row spacer40">
        <div class="col-lg-12 text-center">
            <h2>Seasonal Packages</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-4 package-item">
            <div class="title">Elf Christmas Caroling Package</div>
            <ul class="list-unstyled text-center">
                <li>$65</li>
                <li>15-20 Minutes</li>
                <li>Visit from both the Friendly Elf and the Gimbel’s Elf</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Elves’ Festive Arrival (Including a Carol)</li>
                <li>Presentation of a Special Elf Gift</li>
                <li>Picture and Photograph Opportunities</li>
                <li>The Elves’ Festive Farewell (Including a Carol)</li>
            </ul>
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Princess Christmas Caroling Package</div>
            <ul class="list-unstyled text-center">
                <li>$50</li>
                <li>15-20 Minutes</li>
                <li>Visit with the Princess of your choice</li>
            </ul>
            <div class="text-center activities-title">Activities</div>
            <ul class="list-unstyled text-center">
                <li>The Princess’ Festive Arrival (Including a Carol)</li>
                <li>Presentation of a Special Holiday Gift</li>
                <li>Picture and Autograph Opportunities</li>
                <li>The Princess’ Festive Farewell (Including a Carol)</li>
            </ul>
        </div>
    </div>

    <div class="row spacer40">
        <div class="col-lg-12 text-center">
            <h2>Party Package Add Ons</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 package-item">
            <div class="title">Birthday Gift ($25)</div>
            A Gift for the Birthday Princess or Prince.<br>
            Included in:
            <ul>
                <li>The Royal Treatment</li>
            </ul>
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Royal Certificate ($5)</div>
            “Princess or Prince for a Day” Certificate for the Birthday Princess or Prince.<br>
            Included in:
            <ul>
                <li>Fairy Tale Experience</li>
                <li>The Royal Treatment</li>
            </ul>
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Guest Certificates ($25)</div>
            “Princess or Prince for a Day” Certificates for all the Royal Guests.
        </div>
    </div>
    <p class="text-center">More add ons are coming soon!<p>

    <div class="row spacer40">
        <div class="col-lg-12 text-center">
            <h2>Additional Services</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 package-item">
            <div class="title">Post Card from a Princess ($15)</div>
            An Autographed Picture Postcard from your favorite Princess including a Personalized Message.
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">Letter from a Princess ($25)</div>
            An Autographed Picture from your favorite Princess along with a One Page, Double-Spaced, Personalized Letter from Your Favorite Princess.
        </div>

        <div class="col-sm-4 package-item">
            <div class="title">A Royal Hospital Visit ($25)</div>
            A Hospital visit from your favorite Princess.  $25 to cover cost of gas only.
        </div>
    </div>
</div>
